/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #c26e0e;
    color: white;
    padding: 10px 0;
}

.logo {
    float: left; /* Оставляем лого слева */
    position: relative; /* Точное смещение */
    left: -30px; /* Смещаем левее */
    top: -40px;   /* Смещаем ниже */
}


.navbar {
    float: right;
    margin-right: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.info h2 {
    font-size: 2em;
    color: #333;
}

footer {
    background-color: #c26e0e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}



/* Общее оформление контейнера */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Оформление для вкладок */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid red;
    color: red;
}

/* Поля ввода */
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Кнопка для входа */
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-text {
    text-align: center;
    margin-top: 10px;
}

/* Контейнер для пароля */
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
